<div class="container-fluid">
    <div class="col-auto col-12 dash-header">
        {{#each user as |user|}}
        <h2 class="text-primary">{{user.battleTag}}!</h2>
        {{/each}}
    </div>
    <div class="row m-4">
        <div class="col-md-6">
            <button type="button" id="respond-b" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                New Post
            </button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="newPost-form" action="/api/post" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{post.name}}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="CreatePost">Please fill out all fields</label>
                                <input type="text" id="postName-input" class="form-control"
                                    placeholder="Enter a name for your post" required />
                                <input type="text" id="postDescription-input" class="form-control"
                                    placeholder="Enter a description" required />
                                <select class="form-select" id="realmSelect">
                                    <option>Select Realm</option>
                                    <option class="dropdown-item" value="Amnennar">Amnennar</option>
                                    <option class="dropdown-item" value="Angerforge">Angerforge</option>
                                    <option class="dropdown-item" value="Arugal">Arugal</option>
                                    <option class="dropdown-item" value="Ashbringer">Ashbringer</option>
                                    <option class="dropdown-item" value="Ashkandi">Ashkandi</option>
                                    <option class="dropdown-item" value="Atiesh">Atiesh</option>
                                    <option class="dropdown-item" value="Auberdine">Auberdine</option>
                                    <option class="dropdown-item" value="Azuresong">Azuresong</option>
                                    <option class="dropdown-item" value="Benediction">Benediction</option>
                                    <option class="dropdown-item" value="Bloodsail Buccaneers">Bloodsail Buccaneers
                                    </option>
                                    <option class="dropdown-item" value="Earthfury">Earthfury</option>
                                    <option class="dropdown-item" value="Earthshaker">Earthshaker</option>
                                    <option class="dropdown-item" value="Eranikus">Eranikus</option>
                                    <option class="dropdown-item" value="Everlook">Everlook</option>
                                    <option class="dropdown-item" value="Faerlina">Faerlina</option>
                                    <option class="dropdown-item" value="Firemaw">Firemaw</option>
                                    <option class="dropdown-item" value="Gehennas">Gehennas</option>
                                    <option class="dropdown-item" value="Giantstalker">Giantstalker</option>
                                    <option class="dropdown-item" value="Golemagg">Golemagg</option>
                                    <option class="dropdown-item" value="Grobbulus">Grobbulus</option>
                                    <option class="dropdown-item" value="Hydraxian Waterlords">Hydraxian Waterlords
                                    </option>
                                    <option class="dropdown-item" value="Jindo">Jindo</option>
                                    <option class="dropdown-item" value="Lakeshire">Lakeshire</option>
                                    <option class="dropdown-item" value="Maladath">Maladath</option>
                                    <option class="dropdown-item" value="Mandokir">Mandokir</option>
                                    <option class="dropdown-item" value="Mankrik">Mankrik</option>
                                    <option class="dropdown-item" value="Mirage Raceway">Mirage Raceway</option>
                                    <option class="dropdown-item" value="Mograine">Mograine</option>
                                    <option class="dropdown-item" value="Nethergarde Keep">Nethergarde Keep</option>
                                    <option class="dropdown-item" value="Old Blanchy">Old Blanchy</option>
                                    <option class="dropdown-item" value="Pagle">Pagle</option>
                                    <option class="dropdown-item" value="Patchwerk">Patchwerk</option>
                                    <option class="dropdown-item" value="Pyrewood Village">Pyrewood Village</option>
                                    <option class="dropdown-item" value="Razorfen">Razorfen</option>
                                    <option class="dropdown-item" value="Remulos">Remulos</option>
                                    <option class="dropdown-item" value="Skyfury">Skyfury</option>
                                    <option class="dropdown-item" value="Sulfuras">Sulfuras</option>
                                    <option class="dropdown-item" value="Sulfuron">Sulfuron</option>
                                    <option class="dropdown-item" value="Thekal">Thekal</option>
                                    <option class="dropdown-item" value="Transcendence">Transcendence</option>
                                    <option class="dropdown-item" value="Venoxis">Venoxis</option>
                                    <option class="dropdown-item" value="Westfall">Westfall</option>
                                    <option class="dropdown-item" value="Whitemane">Whitemane</option>
                                    <option class="dropdown-item" value="Windseeker">Windseeker</option>
                                    <option class="dropdown-item" value="Yojamba">Yojamba</option>
                                    <option class="dropdown-item" value="Пламегор">Пламегор</option>
                                    <option class="dropdown-item" value="Хроми">Хроми</option>
                                </select>
                                <select class="form-select" id="classSelect" aria-labelledby="ClassdropdownMenuButton">
                                    <option>Select Class</option>
                                    <option class="dropdown-item" value="Death Knight">Death Knight</option>
                                    <option class="dropdown-item" value="Druid">Druid</option>
                                    <option class="dropdown-item" value="Hunter">Hunter</option>
                                    <option class="dropdown-item" value="Mage">Mage</option>
                                    <option class="dropdown-item" value="Paladin">Paladin</option>
                                    <option class="dropdown-item" value="Priest">Priest</option>
                                    <option class="dropdown-item" value="Rogue">Rogue</option>
                                    <option class="dropdown-item" value="Shaman">Shaman</option>
                                    <option class="dropdown-item" value="Warlock">Warlock</option>
                                    <option class="dropdown-item" value="Warrior">Warrior</option>
                                </select>
                                <select class="form-select" id="roleSelect" aria-labelledby="RoledropdownMenuButton">
                                    <option>Select Role</option>
                                    <option class="dropdown-item" value="Tank">Tank</option>
                                    <option class="dropdown-item" value="Melee">Melee</option>
                                    <option class="dropdown-item" value="Ranged">Ranged</option>
                                    <option class="dropdown-item" value="Healer">Healer</option>
                                </select>
                                <select class="form-select" id="factionSelect"
                                    aria-labelledby="factiondropdownMenuButton">
                                    <option>Select Alliance</option>
                                    <option class="dropdown-item" value="Horde">Horde</option>
                                    <option class="dropdown-item" value="Alliance">Alliance</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!---------- CREATED POST SECTION ----------}}
    {{#if posts.length}}
    <div class="col post-list">
        <h3>Current Posts:</h3>
        {{!-- creates this section for EACH post linked by post.id --}}
        {{#each posts as |post|}}
        <div class="postsection">
            <div class="card postcardcss">
                <div class="card-header postcardheader">
                    <h2>{{post.name}}</h2>
                </div>
                <div class="card-body postcardbody">
                    <ul>
                        <li><b>Description:</b> {{post.description}}</li>
                        <li><b>Class:</b> {{post.class}}</li>
                        <li><b>Faction:</b> {{post.faction}}</li>
                        <li><b>Role:</b> {{post.role}}</li>
                        <li><b>Realm:</b> {{post.realm}}</li>
                        <p><b>{{post.date_created}}</b></p>
                        <p><b>{{post.user.battleTag}}</b></p>
                    </ul>
                </div>
                <div class="postbtnarea">
                    <button type="button" class="btn btn-primary"><a class="link" href="api/post/{{post.id}}">Edit Post</a></button>
                </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- if there are no posts this will display --}}
{{else}}
<div class="col-md-6 post-list">
    <h3>No posts yet</h3>
</div>
{{/if}}

{{#if characters.length}}
<div class="col post-list">
    <h3>Your Characters</h3>
    {{!-- creates this section for EACH post linked by post.id --}}
    {{#each characters as |character|}}
    <div class="card">
        <div class="card-header">
            <h2>
                <option class="link" value="/dashboard/edit/{{post.id}}">{{post.name}}</option>
            </h2>
        </div>
        <div class="card-body">
            <p>Description: {{character.characterName}}</p>
            <p>Class: {{character.class}}</p>
            <p>Faction: {{character.faction}}</p>
            <p>Role: {{character.role}}</p>
            <p>Realm: {{character.realm}}</p>
            <p>{{battleTag}}</p>
        </div>
        <input type="hidden" name="character-id" value="{{character.id}}" />
        <button class="btn" id="del-character-b">Delete</button>
    </div>
    {{/each}}

{{!-- if there are no characters this will display --}}
{{else}}
<div class="col-md-6 character-list">
    <h3>No characters yet</h3>
</div>
</div>
{{/if}}

<script src="dashboard.js"></script>
