<div class="container-fluid">
    <div class="col-auto col-12 dash-header">
        {{#each user as |user|}}
        <h2 class="text-primary">{{user.battleTag}}!</h2>
        {{/each}}
    </div>
    <div class="row m-4">
        <div class="col-md-6">
            <button type="button" id="respond-b" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                New Post
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" id="character-b" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#charModal">
                New Character
            </button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="newPost-form" action="/api/post" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{post.name}}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="CreatePost">Please fill out all fields</label>
                                <input type="text" id="postName-input" class="form-control"
                                    placeholder="Enter name" required />
                                <input type="text" id="postDescription-input" class="form-control"
                                    placeholder="Enter a description" required />
                                <select class="form-select" id="realmSelect">
                                    <option>Select Realm</option>
                                    {{#each realms as |realm|}}
                                    <option class="dropdown-item" value={{realm}}>{{realm}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="classSelect" aria-labelledby="ClassdropdownMenuButton">
                                    <option>Select Class</option>
                                    {{#each classes as |class|}}
                                    <option class="dropdown-item" value={{class}}>{{class}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="roleSelect" aria-labelledby="RoledropdownMenuButton">
                                    <option>Select Role</option>
                                      {{#each roles as |role|}}
                                    <option role="dropdown-item" value={{role}}>{{role}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="factionSelect"
                                    aria-labelledby="factiondropdownMenuButton">
                                    <option>Select Faction</option>
                                      {{#each factions as |faction|}}
                                    <option faction="dropdown-item" value={{faction}}>{{faction}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="charModal" tabindex="-1" aria-labelledby="charModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="newChar-form" >
                        {{!-- action="/api/post" method="POST" --}}
                        <div class="modal-header">
                            <h5 class="modal-title" id="charModalLabel">{{post.name}}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="CreatePost">Please fill out all fields</label>
                                <input type="text" id="charName-input" class="form-control"
                                    placeholder="Enter name" required />
                                <select class="form-select" id="charRealm">
                                    <option>Select Realm</option>
                                    {{#each realms as |realm|}}
                                    <option class="dropdown-item" value={{realm}}>{{realm}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="charClass" aria-labelledby="ClassdropdownMenuButton">
                                    <option>Select Class</option>
                                    {{#each classes as |class|}}
                                    <option class="dropdown-item" value={{class}}>{{class}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="charRole" aria-labelledby="RoledropdownMenuButton">
                                    <option>Select Role</option>
                                      {{#each roles as |role|}}
                                    <option role="dropdown-item" value={{role}}>{{role}}</option>
                                    {{/each}}
                                </select>
                                <select class="form-select" id="charFaction"
                                    aria-labelledby="factiondropdownMenuButton">
                                    <option>Select Faction</option>
                                      {{#each factions as |faction|}}
                                    <option faction="dropdown-item" value={{faction}}>{{faction}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{!---------- CREATED POST SECTION ----------}}
    {{#if posts.length}}
    <div class="col post-list">
        <h3>Current Posts:</h3>
        {{!-- creates this section for EACH post linked by post.id --}}
        {{#each posts as |post|}}
        <div class="postsection">
            <div class="card postcardcss">
                <div class="card-header postcardheader">
                    <h2>{{post.name}}</h2>
                </div>
                <div class="card-body postcardbody">
                    <ul>
                        <li><b>Description:</b> {{post.description}}</li>
                        <li><b>Class:</b> {{post.class}}</li>
                        <li><b>Faction:</b> {{post.faction}}</li>
                        <li><b>Role:</b> {{post.role}}</li>
                        <li><b>Realm:</b> {{post.realm}}</li>
                        <p><b>{{post.date_created}}</b></p>
                        <p><b>{{post.user.battleTag}}</b></p>
                    </ul>
                </div>
                <div class="postbtnarea">
                    <button type="button" class="btn btn-primary"><a class="link" href="api/post/{{post.id}}">Edit Post</a></button>
                </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
{{!-- if there are no posts this will display --}}
{{else}}
<div class="col-md-6 post-list">
    <h3>No posts yet</h3>
</div>
{{/if}}

{{#if characters.length}}
<div class="col post-list">
    <h3>Your Characters</h3>
    {{!-- creates this section for EACH post linked by post.id --}}
    {{#each characters as |character|}}
    <div class="card">
        <div class="card-header">
            <h2>
                <option class="link" value="/dashboard/edit/{{post.id}}">{{post.name}}</option>
            </h2>
        </div>
        <div class="card-body">
            <p>Name: {{character.characterName}}</p>
            <p>Class: {{character.class}}</p>
            <p>Faction: {{character.faction}}</p>
            <p>Role: {{character.role}}</p>
            <p>Realm: {{character.realm}}</p>
            <p>{{battleTag}}</p>
        </div>
        <input type="hidden" name="character-id" value="{{character.id}}" />
        <button class="btn" id="del-character-b">Delete</button>
    </div>
    {{/each}}

{{!-- if there are no characters this will display --}}
{{else}}
<div class="col-md-6 character-list">
    <h3>No characters yet</h3>
</div>
</div>
{{/if}}

<script src="dashboard.js"></script>
<script src="character.js"></script>
