<div class="posts">
  {{#each post as |post|}}
  <div class="postsection">
    <div class="card postcardcss">
      <div class="card-header postcardheader">
        <h2><a class="link" href="/dashboard/edit/{{post.id}}">{{post.name}}</a></h2>
      </div>
      <div class="card-body postcardbody">
        <ul>
          <li><b>Description</b>: {{post.description}}</li>
          <li><b>Class</b>: {{post.class}}</li>
          <li><b>Faction</b>: {{post.faction}}</li>
          <li><b>Role</b>: {{post.role}}</li>
          <li><b>Realm</b>: {{post.realm}}</li>
          <p>{{battleTag}}</p>
        </ul>
      </div>
      <div class="postbtnarea">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <button class="btn postbtn" id="del-post-b">Respond</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>