<div class="card ">
  <div class="card-header ">
    <h2>{{post.name}}</h2>
  </div>
  <div class="card-body ">
    <p>Description: {{post.description}}</p>
    <p>Class: {{post.class}}</p>
    <p>Faction: {{post.faction}}</p>
    <p>Role: {{post.role}}</p>
    <p>Realm: {{post.realm}}</p>
    <p>{{user.battleTag}}</p>
  </div>
  <div class="postbtnarea">
                    <button type="button" id="respond-b" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#editModal">Edit</button>

                </div>
            </div>
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="editPost-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">{{post.name}}</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="EditPost">Please fill out all fields</label>
                                    <input type="text" id="editName" class="form-control"
                                        placeholder="Enter a name for your post" required />
                                    <input type="text" id="editDescription" class="form-control"
                                        placeholder="Enter a description" required />
                                    <select class="form-select" id="editRealm">
                                        <option>Select Realm</option>
                                        <option class="dropdown-item" value="Amnennar">Amnennar</option>
                                        <option class="dropdown-item" value="Angerforge">Angerforge</option>
                                        <option class="dropdown-item" value="Arugal">Arugal</option>
                                        <option class="dropdown-item" value="Ashbringer">Ashbringer</option>
                                        <option class="dropdown-item" value="Ashkandi">Ashkandi</option>
                                        <option class="dropdown-item" value="Atiesh">Atiesh</option>
                                        <option class="dropdown-item" value="Auberdine">Auberdine</option>
                                        <option class="dropdown-item" value="Azuresong">Azuresong</option>
                                        <option class="dropdown-item" value="Benediction">Benediction</option>
                                        <option class="dropdown-item" value="Bloodsail Buccaneers">Bloodsail Buccaneers
                                        </option>
                                        <option class="dropdown-item" value="Earthfury">Earthfury</option>
                                        <option class="dropdown-item" value="Earthshaker">Earthshaker</option>
                                        <option class="dropdown-item" value="Eranikus">Eranikus</option>
                                        <option class="dropdown-item" value="Everlook">Everlook</option>
                                        <option class="dropdown-item" value="Faerlina">Faerlina</option>
                                        <option class="dropdown-item" value="Firemaw">Firemaw</option>
                                        <option class="dropdown-item" value="Gehennas">Gehennas</option>
                                        <option class="dropdown-item" value="Giantstalker">Giantstalker</option>
                                        <option class="dropdown-item" value="Golemagg">Golemagg</option>
                                        <option class="dropdown-item" value="Grobbulus">Grobbulus</option>
                                        <option class="dropdown-item" value="Hydraxian Waterlords">Hydraxian Waterlords
                                        </option>
                                        <option class="dropdown-item" value="Jindo">Jindo</option>
                                        <option class="dropdown-item" value="Lakeshire">Lakeshire</option>
                                        <option class="dropdown-item" value="Maladath">Maladath</option>
                                        <option class="dropdown-item" value="Mandokir">Mandokir</option>
                                        <option class="dropdown-item" value="Mankrik">Mankrik</option>
                                        <option class="dropdown-item" value="Mirage Raceway">Mirage Raceway</option>
                                        <option class="dropdown-item" value="Mograine">Mograine</option>
                                        <option class="dropdown-item" value="Nethergarde Keep">Nethergarde Keep</option>
                                        <option class="dropdown-item" value="Old Blanchy">Old Blanchy</option>
                                        <option class="dropdown-item" value="Pagle">Pagle</option>
                                        <option class="dropdown-item" value="Patchwerk">Patchwerk</option>
                                        <option class="dropdown-item" value="Pyrewood Village">Pyrewood Village</option>
                                        <option class="dropdown-item" value="Razorfen">Razorfen</option>
                                        <option class="dropdown-item" value="Remulos">Remulos</option>
                                        <option class="dropdown-item" value="Skyfury">Skyfury</option>
                                        <option class="dropdown-item" value="Sulfuras">Sulfuras</option>
                                        <option class="dropdown-item" value="Sulfuron">Sulfuron</option>
                                        <option class="dropdown-item" value="Thekal">Thekal</option>
                                        <option class="dropdown-item" value="Transcendence">Transcendence</option>
                                        <option class="dropdown-item" value="Venoxis">Venoxis</option>
                                        <option class="dropdown-item" value="Westfall">Westfall</option>
                                        <option class="dropdown-item" value="Whitemane">Whitemane</option>
                                        <option class="dropdown-item" value="Windseeker">Windseeker</option>
                                        <option class="dropdown-item" value="Yojamba">Yojamba</option>
                                        <option class="dropdown-item" value="Пламегор">Пламегор</option>
                                        <option class="dropdown-item" value="Хроми">Хроми</option>
                                    </select>
                                    <select class="form-select" id="editClass"
                                        aria-labelledby="ClassdropdownMenuButton">
                                        <option>Select Class</option>
                                        <option class="dropdown-item" value="Death Knight">Death Knight</option>
                                        <option class="dropdown-item" value="Druid">Druid</option>
                                        <option class="dropdown-item" value="Hunter">Hunter</option>
                                        <option class="dropdown-item" value="Mage">Mage</option>
                                        <option class="dropdown-item" value="Paladin">Paladin</option>
                                        <option class="dropdown-item" value="Priest">Priest</option>
                                        <option class="dropdown-item" value="Rogue">Rogue</option>
                                        <option class="dropdown-item" value="Shaman">Shaman</option>
                                        <option class="dropdown-item" value="Warlock">Warlock</option>
                                        <option class="dropdown-item" value="Warrior">Warrior</option>
                                    </select>
                                    <select class="form-select" id="editRole" aria-labelledby="RoledropdownMenuButton">
                                        <option>Select Role</option>
                                        <option class="dropdown-item" value="Tank">Tank</option>
                                        <option class="dropdown-item" value="Melee">Melee</option>
                                        <option class="dropdown-item" value="Ranged">Ranged</option>
                                        <option class="dropdown-item" value="Heale">Healer</option>
                                    </select>
                                    <select class="form-select" id="editFaction"
                                        aria-labelledby="factiondropdownMenuButton">
                                        <option>Select Alliance</option>
                                        <option class="dropdown-item" value="Horde">Horde</option>
                                        <option class="dropdown-item" value="Alliance">Alliance</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                            </div>
                        </form>
                    </div>
</div>

<script src="/editPost.js"></script>
