<div class="card">
  <div class="card-header">
    <h2>{{post.name}}</h2>
  </div>
  <div class="card-body">
    <p>Description: {{post.description}}</p>
    <p>Class: {{post.class}}</p>
    <p>Faction: {{post.faction}}</p>
    <p>Role: {{post.role}}</p>
    <p>Realm: {{post.realm}}</p>
    <p>{{User.battleTag}}</p>
  </div>
</div>
